.pf2e-pd-card {
    header.card-header {
        position: relative;
        padding: 3px 0;
        border-top: 2px groove #FFF;
        border-bottom: 2px groove #FFF;
    }

    header.card-header img {
        flex: 0 0 36px;
        margin-right: 5px;
    }

    header.card-header h3 {
        flex: 1;
        margin: 0;
        line-height: 36px;
        font-family: "Modesto Condensed", "Palatino Linotype", serif;
        font-size: 20px;
        font-weight: 700;
        color: #4b4a44;
    }

    header.card-header h3:hover {
        color: #111;
        text-shadow: 0 0 10px red;
    }

    .card-content, .persistent-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 4px 0;
    }

    .flat-check-success {
        color: #005e00;
    }

    .flat-check-failure {
        color: #5e0000;
    }

    .card-buttons button {
        line-height: 2em;
    }

    .apply-condition {
        margin-top: 3px;
    }
}
